.header a {
  color: black;
}

.menu a {
  color: blue;
}

.footer a {
  color: black;
}

.nav a {
  color: blue;
}

.font-big {
  font-size: 19.2px;
}

.font-middle {
  font-size: 13px;
}

.font-small {
  font-size: 5.33333px;
}
