.header h1, .content h1, .footer h1 {
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 1px;
}

.header h1 {
  color: #111111;
}

.content h1 {
  color: #222222;
}

.footer h1 {
  color: black;
}
