.box {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.box {
  -webkit-box-shadow: 30px 30px 30px black;
  -moz-box-shadow: 30px 30px 30px black;
  box-shadow: 30px 30px 30px black;
}

.box {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#ffffff, #000000);
  background: -moz-linear-gradient(#ffffff, #000000);
  background: -o-linear-gradient(#ffffff, #000000);
  background: linear-gradient(#ffffff, #000000);
}
